.idea
.vscode
.cache
.lab
.external
.turbo
.docs

node_modules
dist
.env
*.tsbuildinfo
examples/runtime-node-mic/.segments/
examples/runtime-node-system-audio/.segments/
examples/runtime-node-dual-recording/.recordings/
packages/capture-darwin/bin/
.vercel
.build
